
{%extends "core/default.html"%}

{%block body%}

    <style type="text/css">

        .div{
            position:relative;
            left:275px;
            style="width:600px;
            height:300px;
            border:2px solid #999999;
            text-align:center;
        }

        
        form{
            text-align:center;
        }
       
        p{
            text-align:center;
        }

        #blockinput{
            text-align:center;
        }

        #input{
            text-align:center;
            font-style:italic;
        }


        .div{
            text-align:center;
            border:2px solid black;
            width: 580px;
            height: 300px;
            background-color:pink;
            overflow:scroll;
        }


        .chat_gauche{
        }


        


    </style>









    <br><br><br><br>

    
    <div class="div">
        <div id="monCadre"></div>  
    </div>

    
    <h1>{{message}}</h1>
    <br/><br/>
    <form method="POST" action="/">
    <div id="blockinput">
        <input type="text" id="input" size="100" name="input"
         placeholder="Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?"
         action="home" /><br>
        <input type="button" value="Enter" onclick="message();" />
    </div>
    </form>



    
    <p><img src="/static/images/chat_home.jpg" alt="imagecat" /></p>
    <br/><br/><br/><br/><br/>

   










    <script src="https://code.jquery.com/jquery-3.0.0.js" crossorigin="anonymous"></script>
    <script type = "text/javascript">


    var height = 0;
    var historic = []



        
    function effacer(){
        
        document.getElementById("input").value = "";
    }

    function scrollbas(){
        
        height = document.getElementById('input').scrollHeight;
        document.getElementById('input').scrollTo(0, height);
    }

    function message(){
        
        var recup = document.getElementById("input").value;
        historic.push(recup+"<br>");
        document.getElementById("monCadre").innerHTML = historic.join("");
        ecriture(recup);
        effacer();
      
    }


    $('#input').keyup(function(e) {
        
       if(e.keyCode == 13) {
        var recup = document.getElementById("input").value;
        historic.push(recup+"<br>");
        document.getElementById("monCadre").innerHTML = historic.join("");
        ecriture(recup);
        effacer();
        
        
     }
    });



    function ecriture(para){
    alert(historic)
    
  
    }
  
   

    





    </script>

















{%endblock body%}































