
{%extends "core/default.html"%}

{%block body%}

    <style type="text/css">

        .div{
            position:relative;
            left:275px;
            style="width:600px;
            height:300px;
            border:2px solid #999999;
            text-align:center;
        }

        
        form{
            text-align:center;

        }
       
        p{
            text-align:center;
        }

        #blockinput{
            text-align:center;
        
            
     

        }

        #input{
            text-align:center;
            font-style:italic;
            
        }


        .div{
            text-align:center;
            border:2px solid black;
            width: 580px;
            height: 300px;
            background-color:pink;
            overflow:scroll;
        }


        .chat_gauche{



        }


        


    </style>









    <br><br><br><br>
    

    <div class="div">
        <div id="monCadre"></div>  
    </div>

    


    <br/><br/>
    
    <div id="blockinput">
        <input type="text" id="input" size="100"
         placeholder="Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?" /><br>
        <input type="button" value="Enter" onclick="message();" />
    </div>

  

    
    <p><img src="/static/images/chat_home.jpg" alt="imagecat" /></p>
    <br/><br/><br/><br/><br/>

    

   










    <script src="https://code.jquery.com/jquery-3.0.0.js" crossorigin="anonymous"></script>
    <script type = "text/javascript">


    var height = 0;
    var historic = []



          
    function effacer(){
        document.getElementById("input").value = "";
    }

    function scrollbas(){
        height = document.getElementById('input').scrollHeight;
        document.getElementById('input').scrollTo(0, height);
    }

    function message(){
        
        var recup = document.getElementById("input").value;
        historic.push(recup+"<br>");
        document.getElementById("monCadre").innerHTML = historic.join("");
        effacer();
        scrollbas();
  
 
    }


    $('#input').keyup(function(e) {
        
       if(e.keyCode == 13) {
        var recup = document.getElementById("input").value;
        historic.push(recup+"<br>");
        document.getElementById("monCadre").innerHTML = historic.join("");
        effacer();
        scrollbas();
 


     }
    });



    function recherche(){
        var recup = document.getElementById("input").value;
        var path = `https://www.google.com/maps/search/${recup}`;
        soup = bs4.BeautifulSoup(path, "lxml");
        find = soup.find("p", class_="widget-pane-link");
        source = urllib.request.urlopen(str(path));
        
        print(source.text)


        
  
    }
    recherche();
   

    





    </script>

















{%endblock body%}































