









        coucocuuuuuu
           <br/><br/>
              <br/><br/>
                 <br/><br/>
                    <br/><br/>
                    
        {{message}}
        :message
        <div class="div">
            <div id="monCadre"></div>  
        </div>




        <?php ;
        $recup=$_POST['test'];
        echo $recup;
        ?>

    


     <form id="toto" name = "titi" return false;>

        <input type="text" id="input" size="100" name="input"
            placeholder="Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?"/><br>


             
        <input type="submit" id="sub_input" name="sub" value="Enter"/>

        
        <input type="button" id="button_input" name="bubu" value="Enter" />



    </form>


    

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>    <script type = "text/javascript">


    

    

    $('form').on('submit',function(event){
        event.preventDefault();
        var a = document.getElementById("input").value;
        $.post('/', {"test":a},function(data){alert(a)});

    });
        
    var a = {"test":a};





    $(function() {
        $('form').on('submit',function(event){
            //event.preventDefault();
       
            
            const recup = document.getElementById("button_input").value;
            //var path =` https://www.google.com/maps/search/${recup}`
            
            //console.log(path);
            
            $.ajax({
                url:"/registration",
                type:"POST",
                //data:{'values':recup},
                data:{'values':"que c dur"}
                
        
            });
           event.preventDefault();
        });
        
     });

            



       









        var height = 0;
        var historic = []
   
        function effacer(){
            
            document.getElementById("input").value = "";
        }


        function message(){
            const recup = document.getElementById("button_input").value;
            var path =` https://www.google.com/maps/search/${recup}`
            historic.push(recup+"<br>");
            document.getElementById("monCadre").innerHTML = historic.join("");
            effacer();
          
        };

        $("#button_input").on('click',function(){
            const recup = document.getElementById("input").value;
            var path =`https://www.google.com/maps/search/${recup}`;
            historic.push(recup+"<br>");
            document.getElementById("monCadre").innerHTML = historic.join("");
            document.getElementById("monCadre").innerHTML = path;
            effacer();
        });



    </script>




































    
