









        coucocuuuuuu
           <br/><br/>
              <br/><br/>
                 <br/><br/>
                    <br/><br/>
                    
        {{message}}
        <div class="div">
            <div id="monCadre"></div>  
        </div>











     <form id="toto">

 
    
        
    <input type="text" id="input" size="100" name="input"
        placeholder="Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?"/><br>


         
    <input type="submit" id="sub_input" name="sub" value="Enter"/>

    
    <input type="button" id="button_input" name="bubu" value="Enter"/>



    </form>


    <script src="https://code.jquery.com/jquery-3.0.0.js" crossorigin="anonymous"></script>
    <script type = "text/javascript">



        $('#sub_input').on('click',function(e){
            
            const recup = document.getElementById("button_input").value;
            var path =` https://www.google.com/maps/search/${recup}`
            
            console.log(path);
            event.preventDefault();

            $.ajax({

            });

            
        });


            



       









        var height = 0;
        var historic = []
   
        function effacer(){
            
            document.getElementById("input").value = "";
        }


        function message(){
            const recup = document.getElementById("button_input").value;
            var path =` https://www.google.com/maps/search/${recup}`
            historic.push(recup+"<br>");
            document.getElementById("monCadre").innerHTML = historic.join("");
            effacer();
          
        };

        $("#button_input").on('click',function(){
            const recup = document.getElementById("input").value;
            var path =`https://www.google.com/maps/search/${recup}`;
            historic.push(recup+"<br>");
            document.getElementById("monCadre").innerHTML = historic.join("");
            document.getElementById("monCadre").innerHTML = path;
            effacer();
        });



    </script>



#okkkk ca me fou dans le cmd, ca reactualise pas mais le cmd, fin les données vers ma route renvoie un ""

#tin jcromprenais pas que $().""("",func)

#sté comme des appends, del c comme des cv2.rectangle okkkkk au lieu que je fasse a,b,c,d = x+xezfezfez

#on me donne le code enfete !!! ca devient clair c pour ca qu'on repetaient au lieu de refaire la roue

#des coedeurs ont fait le travail et nous donne okkkk woua sté chaud 































    
